<div class="tab-pane fade in active show" id="{{city}}" role="tabpanel" aria-labelledby="{{city}}-tab">
    <div class="row">
        <div class="col-lg-4 col-sm-12">Weather for:</div>
        <div class="col-lg-8 col-sm-12">{{ city }}</div>

        <div class="col-lg-4 col-sm-12">Temperature:</div>
        <div class="col-lg-8 col-sm-12">{{ data.provider.temperature }} &#8451;</div>

        <div class="col-lg-4 col-sm-12">Wind:</div>
        <div class="col-lg-8 col-sm-12">{{ data.provider.wind }} m/s</div>
    </div>
</div>